@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-secondary: #d72050;
}
body {
  background-color: #f6f6f6;
}
